.header {
  background-color: #fff;
  height: 5rem;
  padding: 0 7%;
  margin: 0 0 2rem;
  border-radius: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.logoDiv {
  height: 100%;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
}

.divNavbar {
  text-align: right;
  display: flex;
  flex-direction: row;
}

.logoDiv img {
  width: 280px;
  height: auto;
}

.navbar {
  height: 100%;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  margin: 0 1rem;
  position: relative;
  font-size: 1rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar .active,
.navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.buttons button {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
  background-color: transparent;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.faı {
  border: 1px solid;
  border-color: rgb(55, 55, 58);
  border-radius: 12px;
  padding: 5px;
  margin-left: 5px;
}

.btn {
  padding: 5px;
}