.footer {
  background-color: #000;
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  background-color: #000;
}

.grid-item {
  background-color: #000;
  padding: 20px;
  color: white;
}

h2 {
  font-size: 14pt;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
  font-size: 10pt;
}

.bottom {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.6rem;
  margin-left: 18px;
}

.link {
  margin-left: 30px;
  text-decoration: underline;
}

.link a {
  padding: 5px;
}

.bottomOrta {
  color: white;
  margin: 3px;
}

.bottomLink {
  padding: 1px;
}

.h4 {
  color: coral;
  width: 20px;
}

.share svg {
  font-size: 24px;
  margin-right: 10px;
}

.grid-item-p {
  color: rgba(255, 170, 0, 0.696);
  width: 87%;
  margin: 7px 0px;
}

.share div {
  text-align: center;
}

.logo-img {
  width: 100%;
}

.spanTxt {
  font-size: 0.72rem;
  padding-top: 9px;
  padding-bottom: 9px;
}

.logo-store {
  display: flex;
  flex-direction: row;
  width: 34%;
  margin-top: 17px;
}

.icon-sosyal {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom {
    flex-direction: column;
    align-items: center;
  }

  .bottom div:first-child {
    margin-bottom: 10px;
  }

  .bottom span {
    margin-top: 10px;
  }

  .bottomOrta {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}